body {
    background-color: #ffffff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border-radius: 15px;
    border: 1px solid #d3d3d3;
    padding: 25px;
    background-color: #0d1117;
}

.canvas-container {
    padding-bottom: 8px;
}

canvas {
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: 0 0 15px 5px rgba(75, 75, 75, 0.5);
}

.pickers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding-bottom: 8px;
}


input[type="color"] {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.button-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-bottom: 8px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0d1117;
    color: rgb(255, 255, 255);
    border: 2px solid #e7e7e7;
}

button:hover {
    background-color: #b7ebff;
    color: rgb(110, 110, 110);
}